@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
    --bg-gray:#ddd;
    --color-prymary: #4D41C0 ;
    --white: #fff;
    --text-gray: #4a4a4a
}   

*{
    box-sizing: border-box ;
    font-family: 'Open Sans', sans-serif;
}
html,body{
    background-color: var(--bg-gray);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav h1{
    font-size: 24px;
    font-weight: 700;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
nav a{
    font-size: 12px;
    font-weight: 400;
}
    header {
        display: flex;
        align-items: center;
        background-color: var(--color-prymary);
        color:var(--white);
        height: 60px;
    }
    
a, a:hover{ 
    text-decoration: none;  
    color: unset;
}
.dsmovie-contact-container{
    display: flex;
    align-items: center;

}
.dsmovie-contact-container img{
    margin-right: 10px;
}

.dsmovie-card{
    width: 100%;
    height: 400px;
    
    
}

#dsmovie-card-list{
    padding: 40px;
}
.dsmovie-card img{
    width: 100%;
    border-radius: 8px 8px 0 0 ;
}
.dsmovie-card-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px 20px 0;
    background-color: var(--white );
    border-radius: 0 0 8px 8px;
    min-width: 150px;
    justify-content: space-between;

}
.dsmovie-card-description h3{
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
   

}
.dsmovie-btn , .dsmovie-btn:hover{
    width: 180px;
    height: 40px;
    background-color: var(--color-prymary);
    color: var(--white);
    font-size: 14px;
    font-weight: 700; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    
}




.dsmovie-form-container{
    padding: 40px 0;
    max-width: 480px;

}
