@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
    --bg-gray:#ddd;
    --color-prymary: #4D41C0 ;
    --white: #fff;
}   

*{
    box-sizing: border-box ;
    font-family: 'Open Sans', sans-serif;
}
html,body{
    background-color: var(--bg-gray);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav h1{
    font-size: 24px;
    font-weight: 700;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
nav a{
    font-size: 12px;
    font-weight: 400;
}
    header {
        display: flex;
        align-items: center;
        background-color: var(--color-prymary);
        color:var(--white);
        height: 60px;
    }
    
a, a:hover{ 
    text-decoration: none;  
    color: unset;
}
.dsmovie-contact-container{
    display: flex;
    align-items: center;

}
.dsmovie-contact-container img{
    margin-right: 10px;
}